body{
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #cf84faf5);
}
h1{
    background-color: blueviolet;
    font-family:cursive
}
p {
    font-size: 24px;
    font-family: Arial, sans-serif;
    color:rgb(0, 0, 0);
  }